@use "../../Style/Partials/screen-breakpoints" as *;
@use "../../Style/Partials/font-mixins" as *;
@use "../../Style/Partials/colors" as *;

.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5%;
  z-index: 1;
  width: 100%;

  &__title {
    @include font-title;
    font-size: 32px;
    font-weight: 400;
    color: white;
    padding: 0;
    margin-bottom: 20px;
    margin-top: 0px;

    @include tablet {
      font-size: 60px;
      font-weight: 900;
      margin-bottom: 40px;
    }
  }

  &__subtitle {
    @include font-body;
    font-size: 20px;
    font-weight: 400;
    color: white;
    padding: 0;
    margin-bottom: 20px;
    @include tablet {
      font-size: 40px;
      margin-bottom: 40px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 20px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.203);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.215);
    margin-bottom: 100px;
  }

  &__open-apple {
    @include font-body;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.23);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.203);
    cursor: pointer;
    transition: all 0.2s ease;
    height: 190px;
    width: 150px;
    margin-bottom: 30px;
    color: $button-text;
    
    &:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.93);
      transform: scale(1.05);
      box-shadow: 10px 10px rgba(88, 27, 221, 0.278);
      color: black;
      
    }
  }

  &__open-apple-text {
    margin-top: 10px;

    @include tablet {
      margin-top: 0px;
    }
  }

  &__return-home {
    @include font-body;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.23);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.203);
    cursor: pointer;
    transition: all 0.2s ease;
    width: 150px;
    margin-bottom: 30px;
    color: $button-text;

    &:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.93);
      transform: scale(1.05);
      box-shadow: 10px 10px rgba(88, 27, 221, 0.278);
      color: black;
    }
  }
}
