//partials
@use "../../Style/Partials/screen-breakpoints" as *;
@use "../../Style/Partials/font-mixins" as *;

.playlists-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5%;
  z-index: 1;
  width: 100%;

  @include tablet {
    top: 10%;
  }

  &__title {
    z-index: 1;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 0;
    margin-bottom: 20px;
    @include font-title;

    @include tablet {
      font-size: 60px;
      margin-bottom: 40px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.203);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.215);
    border-radius: 50px;
    z-index: 1;
    padding: 40px;
    height: auto;
    gap: 30px;
    width: 60%;
    margin-bottom: 80px;

    @include tablet {
      width: 80%;
      border-radius: 100px;
    }

    @include desktop {
      max-width: 80rem;
    }
  }
}

.playlist-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.23);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.203);
  cursor: pointer;
  transition: all 0.2s ease;
  width: 150px;

  &:hover {
    transform: scale(1.01);
    background-color: rgba(255, 255, 255, 0.899);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.203);
  }

  &__title {
    font-size: 15px;
    font-weight: 700;
    @include font-body;
  }

  &__image {
    width: 150px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;

    @include tablet {
        width: 200px;
    height: 200px;
    }
  }
}
