@use "../../Style/Partials/screen-breakpoints" as *;
@use "../../Style/Partials/font-mixins" as *;
@use "../../Style/Partials/_colors" as *;

* {
  border: solid 1px red;
}
.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5%;
  z-index: 1;
  width: 100%;
  // padding-bottom: 100px;
  flex: 1;
  @include tablet {
    top: 5%;
  }

  &__title {
    z-index: 1;
    font-size: 32px;
    font-weight: 700;
    color: white;
    text-align: center;
    @include font-title;
    width: 90%;
    margin-top: 0px;

    @include tablet {
      font-size: 60px;
      font-weight: 900;
    }

    @include desktop {
      font-size: 60px;
      font-weight: 900;
    }
  }

  &__services-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.23);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.203);
    width: 60%;
    @include font-body;
    margin-bottom: 100px;

    @include tablet {
      flex-direction: row;
      margin-top: 50px;
    }

    @include desktop {
      gap: 50px;
      width: 60%;
    }
  }

  &__subtitle {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 90%;
  }
}

.spotify-outerbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 350px;

  @include tablet {
    width: 50%;
    height: 400px;
  }
  @include desktop {
    width: 100%;
  }
}

.apple-music-outerbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 350px;

  @include tablet {
    width: 50%;
    height: 400px;
  }

  @include desktop {
    width: 100%;
  }
}

.spotify-auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.23);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.203);
  width: 150px;
  height: 190px;

  @include tablet {
    width: 200px;
    height: 250px;
    margin-top: 30px;
  }

  &__logo {
    width: 100px;

    @include tablet {
      width: 150px;
      margin-bottom: 20px;
    }
  }

  &__title {
    margin: 0;
    color: white;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.421);
    width: 100px;
    height: 40px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.045);
    border: none;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    transition: all 0.4s ease;
    color: $button-text;
    @include font-body;

    &:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.93);
      transform: scale(1.05);
      box-shadow: 10px 10px rgba(88, 27, 221, 0.278);
    }
  }

  &__connected {
    @include font-body;
    color: white;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;

    @include tablet {
      margin-bottom: 10px;
    }
  }
}

.apple-music {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.23);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.203);
  width: 150px;
  height: 190px;

  @include tablet {
    width: 200px;
    height: 250px;
    margin-top: 30px;
  }

  &__logo {
    width: 100px;
    @include tablet {
        width: 150px;
        margin-bottom: 20px;
      }
  }

  &__title {
    margin: 0;
    color: white;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.421);
    width: 100px;
    height: 40px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.045);
    border: none;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    transition: all 0.4s ease;
    color: $button-text;
    @include font-body;

    &:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.93);
      transform: scale(1.05);
      box-shadow: 10px 10px rgba(88, 27, 221, 0.278);
    }
  }

  &__connected {
    @include font-body;
    color: white;
    text-align: center;
    font-size: 20px;
    font-size: 16px;
    margin-top: 10px;

    @include tablet {
        margin-bottom: 10px;
      }
  }

}
